/* 字体大小设置 */
$baseSize: 192px;
$PX: 1px;

/* 颜色设置 */
/* 字体颜色 */
$bColor: #fb7299;
$color-1: #656565;
$color-2: #000;
$color-3: #fff;
$color-4: #eee;
$color-w: #fff;
/* 边框颜色 */
$bdColor-1: #8b8b8b;
$bdColor-2: rgb(188, 188, 188);
$bdColor-w: rgb(255, 255, 255);
/* 背景色 */
$bgColor-w: rgb(255, 255, 255);
$bgColor-0: rgb(80, 80, 80);
$bgColor-b: rgb(0, 0, 0);
$bgColor-b-70: rgba(80, 80, 80, 0.7);
$bgColor-1: rgb(188, 188, 188);
$bgColor-2: rgb(232, 232, 232);
$bgColor-3: rgb(251, 251, 251);
$bgColor-4: rgb(256, 256, 256);

/* 辅助色 */
$auxiliary-color-1: #387dff;
$auxiliary-color-2: #5ed6c8;
$auxiliary-color-3: #ffa61d;
$auxiliary-color-4: #fa5555;
$auxiliary-color-5: green;

/* 导出按钮颜色 */
$export-btn-color: #0b255f;
